<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit ja kysymykset harjoitus</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Kurssit testi</h1>
        <ul>
            <li th:each="kurssi: ${kurssit}">
                <a th:href="@{~/kurssi/{id}(id=${kurssi.id})}">
                    <span th:text="${kurssi.nimi}">Kurssi</span>
                </a>
            </li>
        </ul>
    </body>
</html>