<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tikape Harjoitustyö 2</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Tikape Laaja harjoitustyö 2</h1>
        <h2>Heroku-sovellus johon voi luoda kursseja, ja kursseille kysymyksiä ja vastauksia</h2>
        <p>Jos aikaa olisi jäänyt, niin olisi pitänyt lisätä liitostaulu Kurssi-Kysymys ja Aihe-Vastaus väliin, jolloin kysymyksiä, vastauksia ja aiheita olisi voinut käyttää huomattavasti monipuolisemmin.</p>
        
        
        <h3>Kaikki kurssit:</h3>
        <ul>
            <li th:each="kurssi: ${kurssit}">
                <a th:href="@{~/kurssi/{id}(id=${kurssi.id})}">
                    <span th:text="${kurssi.nimi}">Kurssi</span></a>
                <form method="post" action="/poistakurssi">
                    <button type="submit" name="kurssiId" th:value="${kurssi.id}">Poista</button>
                </form>
            </li>
        </ul>
        
        <h4>Luo uusi:</h4>
        <form method="post" action="/uusikurssi">
            <table>
                <tr><td>Nimi:</td><td>Aihe:</td><td></td></tr>
                <tr>
                    <td><input type="text" name="kurssinimi"/></td>
                    <td><input type="text" name="kurssiaihe"/></td>
                    <td><input type="submit" value="lisää Kurssi"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>