<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Kurssit ja kysymykset harjoitus</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Kurssit testi</h1>
        <ul>
            <li th:each="kurssi: ${kurssit}">
                <a th:href="@{~/kurssi/{id}(id=${kurssi.id})}">
                    <span th:text="${kurssi.nimi}">Kurssi</span></a>
                <form method="post" action="~/poistakurssi">
                    <button type="submit" name="kurssiId" th:value="${kurssi.id}">Poista</button>
                </form>
            </li>
        </ul>
        <form method="post" action="~/uusikurssi">
            <span>Lisää uusi:</span>
            <input type="text" name="kurssinimi"/>
            <input type="submit" value="lisää Kurssi"/>
        </form>
    </body>
</html>