<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${kurssi.nimi}">Kurssisivu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${kurssi.nimi}">Kurssi</h1>
        <h3>Tämän kurssin kysymykset:</h3>
        <ul>
            <li th:each="kysymys: ${kysymykset}">
                <span th:text="${kysymys.teksti}">kysymys</span>
            </li>
        </ul>
    </body>
</html>
