<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${kurssi.nimi}">Kurssisivu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <a href="/">Pääsivulle</a>
        <h3>Kurssi-sivu:</h3>
        <h1 th:text="${kurssi.nimi}">Kurssi</h1>
        <h4>Aihe:</h4>
        <span th:text="${aihe.teksti}">Aihe</span>
        <h3>Tämän kurssin kysymykset:</h3>
        <ul>
            <li th:each="kysymys: ${kysymykset}">
                <a th:href="@{~/kysymys/{id}(id=${kysymys.id})}">
                    <span th:text="${kysymys.teksti}">kysymys</span>
                    <form method="post" th:action="@{~/poistakysymys/{id}(id=${kysymys.id})}">
                        <button type="submit" name="kurssiId" th:value="${kysymys.kurssi_id}">Poista</button>
                    </form>
                </a>
            </li>
        </ul>
        
        <h4>Lisää uusi kysymys:</h4>
        <form method="post" th:action="@{~/luokysymys/{id}(id=${kurssi.id})}">
            <table>
                <tr><td>Kysymysteksti:</td><td>Aihe johon kysymys liittyy:</td><td></td></tr>
                <tr>
                    <td><input type="text" name="kysymysTeksti"/></td>
                    <td><input type="text" name="aihe"/></td>
                    <td><input type="submit" value="Luo"/></td>
                </tr>
            </table>
        </form>
        
    </body>
</html>
