<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${kysymys.teksti}">Kurssisivu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1 th:text="${kysymys.teksti}">Kurssi</h1>
        <h3>Kysymys liittyy seuraaviin aiheisiin:</h3>
        <span th:text="${aihe.teksti}">aihe</span>
        <h3>Vastausvaihtoehdot:</h3>
        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.teksti}">vastaus</span>.
                    <span style="font-weight:bold" th:text="${vastaus.onoikeavastaus}">oikein</span>
            </li>
        </ul>
        <h4>Kysymys on liitetty seuraaviin kursseihin:</h4>
        
    </body>
</html>