<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${kysymys.teksti}">Kurssisivu</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <a href="/">Pääsivulle</a>
        <h3>Kysymys-sivu:</h3>
        <h1 th:text="${kysymys.teksti}">Kurssi</h1>
        <h3>Kysymys liittyy seuraaviin aiheisiin:</h3>
        <span th:text="${aihe.teksti}">aihe</span>
        <h3>Vastausvaihtoehdot:</h3>
        <ul>
            <li th:each="vastaus: ${vastaukset}">
                <span th:text="${vastaus.teksti}">vastaus</span>.
                <span style="font-weight:bold" th:text="${vastaus.onoikeavastaus}">oikein</span>
                <form method="post" action="/poistavastaus">
                    <button type="submit" name="vastausId" th:value="${vastaus.id}">Poista</button>
                </form>
            </li>
        </ul>
        
        <h4>Lisää uusi vastaus:</h4>
        <form method="post" th:action="@{~/kysymys/{id}(id=${kysymys.id})}">
            <table>
                <tr><td>Vastausteksti:</td><td>OnOikein:</td><td></td></tr>
                <tr>
                    <td><input type="text" name="vastausTeksti"/></td>
                    <td><input type="checkbox" name="oikein" value="oikea"/></td>
                    <td><input type="submit" value="Lisää"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>